@media (min-width: 768px) {
    /* Header */
    .logo {
        margin: 0;
        display: flex;
        align-items: center;
    }

    .login-wrapper {
        flex-direction: row-reverse;
        justify-content: space-between;
        
        padding-top: 38px;
        margin-bottom: 130px;
    }

    .login-controls {
        padding-top: 0;
        margin-bottom: 0;
    }

    .header {
        padding-bottom: 234px;
    }

    .header__title {
        font-size: 52px;
        line-height: 62px;

        width: 530px;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .header__description {
        font-style: 24px;
        line-height: 29px;

        width: 400px;
        margin-bottom: 34px;
    }

    .header__find-btn {
        width: 226px;
    }

    /* Partners section */
    .partners-section {
        padding-bottom: 57px;
    }

    .partners-section__title {
        margin-bottom: 30px;
    }

    .partners {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        width: 490px;
        margin: 0 auto;
        margin-bottom: 38px;
    }

    /* .partners__item:nth-last-child(-n + 2) {
        margin-bottom: 0;
    } */

    .partners__item:nth-child(1) {
        order: 1;
    }

    .partners__item:nth-child(2) {
        order: 3;
        margin-bottom: 0;
    }

    .partners__item:nth-child(3) {
        order: 2;
    }

    .partners__item:nth-child(4) {
        order: 4;
    }

    .partners__show-more-btn {
        width: 197px;
    }
}

@media (min-width: 960px) {
    .login-wrapper {
        margin-bottom: 154px;
    }

    .partners {
        width: auto;
    }

    .partners__item.partners__item {
        margin-bottom: 0;
    }
}